.film-list-result {
  margin-top: 10px;
  padding: 10px;
  list-style: none;
  border: 1px solid #ccc;
  cursor: pointer; }
  .film-list-result img {
    max-width: 100%; }
  .film-list-result .details {
    word-break: break-all; }
